
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inconsolata:wght@200..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Inconsolata', sans-serif;
}

.container {
    background-color: black;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.container ul {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.container a {
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 200%;
}
