* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #666669;
}

.button {
    background-color: #5555BB;
    color: white;
    width: 275px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 15px;
    transition: all .125s ease-out;
}

.button.active {
    width: 302.5px;
    height: 66px;
}
