
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(90, 0, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.btn {
    background-color: rgb(50, 0, 170);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    border: none;

}

.btn:hover {
    background-color: rgb(30, 0, 150);
}

.btn:focus {
    outline: none;
}
